StackPane{
	-fx-background-color: #282828;
}
MenuBar, MenuBar *{
	-fx-background-color: #121212;
}
MenuBar .label {
	-fx-text-fill: #ffffff;
}

#statsPanel{
	-fx-background-color: transparent;
}
#statsPanel > AnchorPane{
	-fx-background-color: #282828;
}
#statsPanel > AnchorPane .label{
	-fx-text-fill: #ffffff;
}

/* USER INFO PANEL */
#userPane > .username, #communityPane .communityName {
	-fx-background-color: #121212;
	-fx-padding: 10px;
	-fx-text-fill: #ffffff;
}
#userPane > HBox, #communityPane > HBox {
	-fx-padding: 10px;
	-fx-background-color: #282828;
}
#userPane > HBox Label, #communityPane > HBox Label{
	-fx-text-fill: #ffffff;
}

