BorderPane, StackPane{
	-fx-background-color: #282828;
}
MenuBar, MenuBar *{
	-fx-background-color: #121212;
}
MenuBar .label {
	-fx-text-fill: #ffffff;
}

#statsPanel{
	-fx-background-color: transparent;
}
#statsPanel > AnchorPane{
	-fx-background-color: #282828;
}
#statsPanel > AnchorPane .label{
	-fx-text-fill: #ffffff;
}
.userInfoPane .label{
	-fx-text-fill: #ffffff;
	-fx-background-color: #282828;
	-fx-padding: 10px;
}


