node.blue {
	fill-color : blue;
	size : 10px;
}

node.green {
	fill-color : green;
	size : 15px;
}

node.yellow {
	fill-color : yellow;
	size : 30px;
}

node.orange {
	fill-color : orange;
	size : 50px;
}

node.red {
	fill-color : red;
	size : 80px;
}

edge {
	shape: line;
	fill-color : #222;
	arrow-size : 1px, 1px;
}

