node.blue {
	fill-color : blue;
	z-index : 2;
	size : 20px;
}

node.green {
	fill-color : green;
	z-index : 3;
	size : 25px;
}

node.yellow {
	fill-color : yellow;
	z-index : 4;
	size : 30px;
}

node.orange {
	fill-color : orange;
	z-index : 5;
	size : 35px;
}

node.red {
	fill-color : red;
	z-index : 6;
	size : 40px;
}

node.community {
	shape : diamond;
}

edge {
	shape: line;
	size : 0.5px;
	fill-color : #222;
	arrow-size : 1px, 1px;
	z-index : 1;
}

edge.community {
	shape : line;
	fill-color : grey;
	size : 1px;
	z-index : 0;
}

